<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>207708818384-9l3cvub3ung5j8dsj1s08ud60aava60s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.207708818384-9l3cvub3ung5j8dsj1s08ud60aava60s</string>
	<key>API_KEY</key>
	<string>AIzaSyBz_dc97iYxTL3BUxs3_HoSkTLLvyTNfwM</string>
	<key>GCM_SENDER_ID</key>
	<string>207708818384</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.appello.swop</string>
	<key>PROJECT_ID</key>
	<string>swop-e4373</string>
	<key>STORAGE_BUCKET</key>
	<string>swop-e4373.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:207708818384:ios:a2ffcbf71826913c2c47d5</string>
</dict>
</plist>